node_modules/
dist/
data/
.env
.env.*
.git/
.github/
coverage/
*.sqlite
*.db
*.log
*.md
!src/**/*.md
!help.md
!README.md
gateway_identity.json
tradfri_identity.json
.DS_Store
.editorconfig
.idea/
.vscode/
